<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Search coffee shops</button>

<h1>the item display from single id</h1>
<app-content-card [contentItem]="items"></app-content-card>


<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<div>
<h1>Unspecified</h1>
<app-content-card *ngFor="let contentItem of contentItems | typedecision: ''" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Local</h1>
<app-content-card *ngFor="let contentItem of contentItems | typedecision: 'Local'" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Famous</h1>
<app-content-card *ngFor="let contentItem of contentItems | typedecision: 'Famous'" [contentItem]="contentItem"></app-content-card>
</div>